* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn,
.box_bg {
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  background-color: transparent;
}

.hide {
  display: none !important;
}

.bottom_bar {
  background-image: url('../images/bg_panel.png');
  background-position: 0 45px;
  width: 1800px;
  height: 250px;
  display: flex;
  margin: 120px auto 0 auto;
  padding-top: 45px;
}

.info_box_btn {
  width: 72px;
  height: 72px;
  background-image: url('../images/icon_info/icon_info_normal.png');
  margin-top: 43px;
  margin-left: 100px;
}
.info_box_btn:hover {
  background-image: url('../images/icon_info/icon_info_hover.png');
}
.info_box_btn:active {
  background-image: url('../images/icon_info/icon_info_click.png');
}

.total_bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 265px;
  height: 72px;
  background-image: url('../images/bg_total_bet.png');
  margin-top: 43px;
  margin-left: 10px;
}

.totel_bet_minus_btn,
.totel_bet_plus_btn {
  width: 50px;
  height: 50px;
  background-image: url('../images/icons_plus_minus/icon_minus_normal.png');
}

.totel_bet_plus_btn {
  background-image: url('../images/icons_plus_minus/icon_plus_normal.png');
}

.totel_bet_minus_btn:hover {
  background-image: url('../images/icons_plus_minus/icon_minus_hover.png');
}

.totel_bet_minus_btn:active {
  background-image: url('../images/icons_plus_minus/icon_minus_click.png');
}

.totel_bet_plus_btn:hover {
  background-image: url('../images/icons_plus_minus/icon_plus_hover.png');
}

.totel_bet_plus_btn:active {
  background-image: url('../images/icons_plus_minus/icon_plus_click.png');
}

.total_bet_count,
.coin_box {
  display: flex;
  flex-direction: column;
}

.coin_box {
  justify-content: center;
}

.total_bet_count .total_bet_count_head,
.total_bet_count .total_bet_count_coin,
.coin_box .coin_box_head,
.coin_box .coin_box_count,
.win_box {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: 0 1px 2px #850002;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.total_bet_count .total_bet_count_head,
.coin_box .coin_box_head {
  color: #FF6973;
}

.total_bet_count .total_bet_count_coin,
.coin_box .coin_box_count,
.win_box {
  color: #FFC500;
}

.win_box {
  padding-bottom: 30px;
  letter-spacing: 3px;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin_box {
  width: 140px;
  height: 72px;
  margin-top: 43px;
  margin-left: 15px;
  background-image: url('../images/bg_coin.png');
}

.win_box {
  width: 610px;
  height: 150px;
  background-image: url('../images/bg_win.png');
  margin-top: 10px;
  margin-left: -10px;
}

.turbo_box_input {
  display: none;
}

.turbo_box_chbox {
  display: block;
  position: relative;
  width: 114px;
  height: 72px;
  margin-top: 43px;
  margin-left: -5px;
  background-image: url('../images/bg_turbo_green.png');
  transition: background-image .5s;
}

.turbo_box_chbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 104px;
  height: 39px;
  top: 8px;
  left: 6px;
  background-image: url('../images/icon_turbo/icon_turbo_normal.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: top .5s;
}

.turbo_box_chbox:hover:after {
  background-image: url('../images/icon_turbo/icon_turbo_hover.png');
}

.turbo_box_chbox:active:after {
  background-image: url('../images/icon_turbo/icon_turbo_click.png');
}

.turbo_box_input:checked ~ .turbo_box_chbox {
  background-image: url('../images/bg_turbo_red.png');
}

.turbo_box_input:checked ~ .turbo_box_chbox:after {
  top: 28px;
}

.auto_box {
  padding-top: 42px;
  margin-left: 20px;
}

.auto_box_input {
  width: 255px;
  height: 72px;
  background-image: url('../images/btn_auto_stop/icon_stop_normal.png');
  position: relative;
  z-index: 1;
}

.auto_box_input:hover {
  background-image: url('../images/btn_auto_stop/icon_stop_hover.png');
}

.auto_box_input:active {
  background-image: url('../images/btn_auto_stop/icon_stop_click.png');
}

.auto_box_input > input {
  display: none;
}

.auto_box_qun_spin {
  width: 40px;
  height: 40px;
  display: block;
  background-image: url('../images/icon_spin_counter.png');
  color: #ff0;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  top: 16px;
  left: 15px;
}

.auto_box_btn_auto {
  display: block;
  width: 255px;
  height: 72px;
  background-image: url('../images/btn_auto_stop/icon_auto_normal.png');
  position: relative;
  z-index: 1;
}

.auto_box_btn_auto:hover {
  background-image: url('../images/btn_auto_stop/icon_auto_hover.png');
}

.auto_box_btn_auto:active {
  background-image: url('../images/btn_auto_stop/icon_auto_click.png');
}

.auto_box_chbox_choise {
  width: 200px;
  height: 190px;
  background-image: url('../images/bg_count_spin.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 10px 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, height .5s;
}

.auto_box_chbox_choise.show_aotu_box_choise {
  visibility: visible;
  height: 200px;
  opacity: 1;
}

.auto_box_chbox_choise > span {
  padding-left: 20px;
  color: #ff0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.auto_box_choise {
  position: relative;
}

.spin_box {
  width: 250px;
  height: 250px;
  
  margin-left: -120px;
  margin-top: -45px;
}
.spin_box_btn {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../images/btn_spin_normal.png');
  position: relative;
  z-index: 1;
}
.spin_box_btn:hover {
  background-image: url('../images/btn_spin_hover.png');
}
.spin_box_btn:active {
  background-image: url('../images/btn_spin_click.png');
}

.spin_box_btn:after {
  content: '';
  display: block;
  width: 150px;
  height: 124px;
  position: absolute;
  background-image: url('../images/btn_spin_sing.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(50% - 75px);
  top: calc(50% - 62px);
  transition: transform 1s;
}
.spin_box_btn.turn:after {
  animation: turn 1s ease-in 1;
}

@keyframes turn {
  0% {
    transform: none;
  }
  100% {
    transform: rotateZ(-180deg);
  }
}